<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>SnapLeaf</string>
    <key>CFBundleDisplayName</key>
    <string>SnapLeaf</string>
    <key>CFBundleIdentifier</key>
    <string>com.leaf.snapleaf</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>SnapLeaf</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSAccentColorName</key>
    <string>AccentColor</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 SnapLeaf. All rights reserved.</string>
    <key>NSScreenCaptureUsageDescription</key>
    <string>SnapLeaf 需要屏幕录制权限来截取屏幕内容</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>SnapLeaf 需要辅助功能权限来注册全局快捷键</string>
</dict>
</plist>
